@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"]</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar">
        <span class="navbar-title" id="js-navbar-title">
            @ViewData["Title"]
        </span>
        <a href="/" class="logo">
            <img src="/@Configuration["Customization:Logo"]" width="40" height="40" alt="Logo image">
        </a>
        @if (ViewData["AddUrl"] is string)
        {
            <span class="navbar-add" id="js-navbar-add">
                <i class="fas fa-plus"></i>
            </span>
        }
        @if (ViewData["ShowDelete"] is bool)
        {
            <span class="navbar-delete" id="js-navbar-delete">
                <i class="fas fa-trash-alt"></i>
            </span>
        }

        <span onclick="openNav()" class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <div id="mySidenav" class="sidenav">
            <i class="fa fa-times closebtn" onclick="closeNav()"></i>
            @foreach (var menuItem in (Album[])ViewData["MenuItems"])
            {
                <a href="/Album/@menuItem.Id">@menuItem.Name</a>
            }
        </div>
    </nav>
    <div class="main">
        @RenderBody()
    </div>
    <script src="~/js/lazysizes.min.js" async=""></script>
    <script>function openNav() {
            document.getElementById('mySidenav').style.width = '250px';
        }

        function closeNav() {
            document.getElementById('mySidenav').style.width = '0';
        }</script>
    @if (ViewData["AddUrl"] is string)
    {
        <script>
        let navBarAdd = document.getElementById('js-navbar-add');
        navBarAdd.addEventListener('click', function () {
            window.location.href = '@ViewData["AddUrl"]';
        });</script>
    }
    @if (ViewData["AlbumId"] is string albumId)
    {
        <script>
            let navBarTitle = document.getElementById('js-navbar-title');
            navBarTitle.style.cursor = 'pointer';
            navBarTitle.addEventListener('click', function () {
                window.location.href = '/Album/@albumId';
            });</script>
        @if (ViewData["ShowDelete"] is bool)
        {
            <script>
            let navBarDelete = document.getElementById('js-navbar-delete');
            navBarDelete.addEventListener('click', function () {
                var xhr = new XMLHttpRequest();
                xhr.onload = function (e) {
                    window.location.href = '/Album/@ViewData["AlbumId"]';
                }
                xhr.open('DELETE', window.location.href, true);
                xhr.send(null);

            });</script>
        }
    }
</body>
</html>